# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/

# Environnement
.env
*.db
*.sqlite
*.sqlite3

# Outils
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

# IDE / OS
.idea/
.vscode/
.DS_Store
